.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
/* Responsive Navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background-color: #ddd;
  border-radius: 10px;
  color: black;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

  body {
    margin: 0;
    padding: 0;
    background-color: #2d2c2c;
    color: white;
  }
  
  .auth {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  /* From Favourites */
  .empty{
    display: block;
    width: 367px;
    margin: auto;
  }
  .auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(17 70 123);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    margin: 20px;
    padding: 46px;
    width: 287px;
  }
  .auth-container button{
    cursor: pointer;
  }
  .main-box{
    margin-top: 50px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    /* font-weight: bold;
    margin-bottom: 10px;
    margin-top: 13px; */
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 17px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .navbar {
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(17 70 123);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin: 26px;
    font-size: 25px;
  }
  
  .submit-btn{
    margin: 15px;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px;
  }
 #instructions{
  width: 319px;
  height: 100px;
  border-radius: 5px;
 } 
 #ingredients{
  margin: 2px;
 }
  .create-recipe {
    display: flex;
    flex-direction: column;
    padding: 51px;
    background-color:  rgb(0 0 0 / 49%);
    margin: auto;
    width: 351px;
    border: -12px solid rgb(154 185 216 / 75%);
    border-radius: 25px;
    height: auto;
  }
  .create-recipe form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  @media (max-width: 839px){
    li {
    font-size: large;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  }
  
@media (max-width: 1920px) and (min-width: 840px) {
  li{
    font-size: large;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-grid;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
  }
}
  .heading{
    margin-top: -64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
  }
  h2 {
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  img {
    width: 400px;
  }
  
  p {
    max-width: 400px;
    font-size: 12px;
  }

  .bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(255, 136, 255),rgb(172, 70, 255));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: .3s;
    font-size: 1.04em;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 90px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }

  .loader{
    display: block;
    width: 55px;
    margin: auto;
    height: 49vh;
  }
  .text {
    color: white;
    font-weight: bolder;
  }
  
  @keyframes letter {
    0% {
      font-size: 30px;
    }
  
    50% {
      font-size: 40px;
    }
  
    100% {
      font-size: 30px;
    }
  }
  
  .letter {
    animation: letter 1s infinite;
  }
  
  .letter1 {
    animation-delay: 0s;
  }
  
  .letter2 {
    animation-delay: -0.9s;
  }
  
  .letter3 {
    animation-delay: -0.8s;
  }
  
  .letter4 {
    animation-delay: -0.7s;
  }
  
  .letter5 {
    animation-delay: -0.6s;
  }
  
  .letter6 {
    animation-delay: -0.5s;
  }
  
  .letter7 {
    animation-delay: -0.4s;
  }
  
  .letter8 {
    animation-delay: -0.3s;
  }
  
  .letter9 {
    animation-delay: -0.2s;
  }
  
  .letter10 {
    animation-delay: -0.1s;
  }

  /* Home page loading  */
  .spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 245px;
  }
  .loader-para{
    max-width: 400px;
    font-size: 32px;
    margin: 2px;
    margin-right: 11px;
  }
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #299fff;
    animation: tri-spinner 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }
  
  .spinner::after {
    margin: 8px;
    animation-duration: 3s;
  }
  
  @keyframes tri-spinner {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .home-loader {
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-weight: 1000;
    font-size: 35px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 62px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 40px;
  }
  
  .words {
    overflow: hidden;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #299fff;
    animation: cycle-words 5s infinite;
  }
  
  @keyframes cycle-words {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  
.fav-note{
  display: block;
  max-width: 904px;
  margin: auto;
  font-size: 20px;
}
.auth-btn{
  cursor: pointer;
}
.add-btn{
  border-radius: 20px;
  height: 30px;
  cursor: pointer;
}